<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright &copy; BookStore Applecation @DateTime.Now.Year
        <custom-email my-email="deepro@gmail.com"></custom-email>
    </div>
</footer>