@model deepro.BookStore.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4">
            @if (Model?.EmailSent == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>If you register qith us, <Br/> 
                        We Have sent an email on your regestrerd email id</p>
                </div>
            }
            else
            {
                <p>Fotgot your password? No worries you can reset it easily</p>
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Continue" class="btn btn-primary" />
                    </div>
                </form>
            }
            <div>
                <p>Back To <a asp-action="SignIn" asp-controller="Account"> Sign In</a></p>
            </div>
        </div>
    </div>
</div>



